header{
    background-color: lightgray;
}
li{
    display: inline-block;
    position: relative;
}
li ul{
    position: absolute;
    background-color: lightgray;
    display: none;
}
li:hover ul{
    display: block;
}
li li{
    display: block;
}
a{
    display: inline-block;
    padding: 15px;
    text-transform: capitalize;
}
a:hover{
    background-color: gray;
}
